Dominion.Data.Tests/bin/Debug/Dominion.Data.Tests.dll
Dominion.Data.Tests/bin/Debug/Dominion.Data.Tests.dll
Dominion.Data.Tests/bin/Debug/Dominion.Data.Tests.dll
Dominion.Data.Tests/bin/Debug/Dominion.Data.Tests.dll
Dominion.Data.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Dominion.Data.Tests/bin/Debug/Dominion.Data.Tests.dll
Dominion.Data.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Dominion.Data.Tests/obj/Debug/Dominion.Data.Tests.pdb
Dominion.Data.Tests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Dominion.Data.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Dominion.Data/bin/Debug/Dominion.Data.dll
Dominion.Data/bin/Debug/Microsoft.AspNet.Identity.Owin.xml
Dominion.Data/bin/Debug/Dominion.Data.pdb
Dominion.Data/bin/Debug/Microsoft.Owin.Security.Cookies.dll
Dominion.Data/bin/Debug/Microsoft.Owin.dll
Dominion.Data/bin/Debug/Dominion.Data.pdb
Dominion.Data/bin/Debug/Microsoft.Owin.xml
Dominion.Data.Tests/bin/Debug/Dominion.Data.Tests.dll
*.pdb